@media only screen and (min-width: 320px) and (max-width: 480px){
    .container{
        width: 320px;
    }
    .talk-about-fork-logo{
        width: 100%;
    }
    .pricing-block{
        flex-direction: column;
    }
    .common-pricing-plan{
        width: 100%;
    }
    .here-is-what-we-get-container{
        flex-direction: column;
    }
    .left-column{
        width: 100%;
    }

}