/* line 2, styles.scss */
.container {
  width: 1170px;
  margin: 0 auto;
  text-align: center;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 11, styles.scss */
.common-button-properties {
  display: inline-block;
  padding: 12px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #848e97;
  border-radius: 44px;
}

/* line 21, styles.scss */
.common-icon-properties {
  border: 1px solid;
}

/* line 25, styles.scss */
.header-content {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 30, styles.scss */
.nav-bar-logo {
  text-decoration: none;
  position: relative;
}

/* line 35, styles.scss */
.nav-bar-logo-image-text {
  text-transform: uppercase;
  color: #8d81ac;
  font-size: 24px;
}

/* line 41, styles.scss */
.header-text-container {
  padding: 90px 0;
  margin: 0 auto;
}

/* line 47, styles.scss */
.nav-bar-menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

/* line 51, styles.scss */
.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/* line 57, styles.scss */
.header-content-container {
  background: url("/images/header/header-background.png");
  padding-top: 50px;
}

/* line 61, styles.scss */
.common-title-properties {
  text-align: center;
  margin: 0;
  color: #635c73;
}

/* line 66, styles.scss */
.title-description {
  color: #b3b3b3;
  font-size: 16px;
}

/* line 70, styles.scss */
.common-title-description-class {
  text-align: center;
}

/* line 73, styles.scss */
header {
  background: #27262a;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/* line 81, styles.scss */
.header-background-image {
  width: 100%;
}

/* line 85, styles.scss */
.left-column {
  width: 45%;
}

/* line 88, styles.scss */
.right-column {
  width: 55%;
}

/* line 91, styles.scss */
.left-column-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
}

/* line 96, styles.scss */
.left-column-icon-heading {
  font-size: 12px;
  color: #323232;
  text-align: left;
  font-weight: 600;
}

/* line 103, styles.scss */
.left-column-image {
  width: 110px;
}

/* line 106, styles.scss */
.left-column-icon-description {
  font-size: 11px;
  color: #a2a9b0;
  text-align: left;
}

/* line 111, styles.scss */
.talking-about-fork {
  background: url("../images/What-people-talk-about-fork/fork-talking-background.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 116, styles.scss */
.people-talking-title {
  padding: 50px 0;
}

/* line 119, styles.scss */
.talk-about-fork-logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 126, styles.scss */
.talk-about-fork-logo {
  width: 30%;
}

/* line 129, styles.scss */
.nav-bar-menu {
  margin: 0;
}

/* line 133, styles.scss */
.nav-bar-menu-item {
  list-style-type: none;
  display: inline-block;
  margin-left: 90px;
}

/* line 138, styles.scss */
.nav-bar-link {
  text-decoration: none;
  font-size: 16px;
  color: #8d81ac;
}

/* line 143, styles.scss */
.header-buy-now-button {
  margin-left: 28px;
  padding: 12px 35px;
}

/* line 148, styles.scss */
.first-title {
  font-size: 60px;
  color: white;
  font-weight: 800;
}

/* line 153, styles.scss */
.first-title-description1 {
  color: #8d81ac;
  font-size: 22px;
}

/* line 157, styles.scss */
.first-title-description2 {
  color: #848e97;
  font-size: 12px;
}

/* line 162, styles.scss */
.header-content-button {
  font-size: 15px;
  text-decoration: none;
  color: white;
  background-color: #8d81ac;
  font-weight: 700;
  position: absolute;
  left: 44%;
  top: -20px;
}

/* line 172, styles.scss */
.revolutionary-editor {
  padding: 50px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 177, styles.scss */
.git-hub-button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 181, styles.scss */
.here-is-what-we-get {
  background-color: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 185, styles.scss */
.here-is-what-we-get-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
}

/* line 192, styles.scss */
.icon1, .icon2 {
  text-decoration: none;
  color: black;
}

/* line 197, styles.scss */
.icon1 {
  border: 1px solid #d5d5d5;
  padding: 5px;
  background-color: #f1f1f1;
}

/* line 203, styles.scss */
.pricing-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/* line 207, styles.scss */
.common-pricing-plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 23%;
  margin: 50px 0;
}

/* line 215, styles.scss */
.icon1, .icon2 {
  text-decoration: none;
  color: black;
}

/* line 220, styles.scss */
.icon1 {
  border: 1px solid #d5d5d5;
  padding: 5px;
  background-color: #f1f1f1;
}

/* line 226, styles.scss */
.icon2 {
  border: 1px solid #d5d5d5;
  padding: 5px 0;
}

/* line 230, styles.scss */
.git-hub-icon-item {
  list-style-type: none;
  display: inline-block;
  margin-left: 30px;
}

/* line 236, styles.scss */
.plan-name {
  font-size: 18px;
  margin: 0;
}

/* line 240, styles.scss */
.plan-cost {
  text-align: center;
}

/* line 243, styles.scss */
.plan-cost {
  font-size: 40px;
  margin: 0;
  font-weight: 700;
  padding-top: 40px;
}

/* line 249, styles.scss */
.per-month-word {
  text-transform: uppercase;
  margin: 0;
  padding-top: 10px;
}

/* line 254, styles.scss */
.bigger-pricing-plan {
  width: 27%;
  margin: 0;
}

/* line 258, styles.scss */
.advantages-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 262, styles.scss */
.advantages {
  text-align: center;
  margin: 0;
}

/* line 266, styles.scss */
.plan-name-wrapper {
  width: 100%;
  height: 95px;
  background-color: #848e97;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 275, styles.scss */
.pricing-plan-button {
  margin: 38px auto;
}

/* line 278, styles.scss */
.people-talking-description {
  padding-top: 120px;
  font-size: 14px;
  color: #7e6e81;
  margin: 0;
  padding-bottom: 70px;
}

/*.people-talking-description::after{*/
/*content: '';*/
/*position: absolute;*/
/*width: 780px;*/
/*height: 2px;*/
/*background: #645766;*/
/*}*/
/* line 293, styles.scss */
.talk-about-fork-logo-description {
  color: white;
  font-size: 16px;
  text-align: center;
}

/* line 298, styles.scss */
.subscription-pricing {
  background: url("../images/pricing-plan/pricing-plan-background.png") center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*# sourceMappingURL=styles.css.map */