$greenColor: col #8d81ac;
.container{
  width: 1170px;
  margin: 0 auto;
  text-align: center;
  padding: 0 15px;
  display: flex;
  flex-direction: column;

}
.common-button-properties{
  display: inline-block;
  padding: 12px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #848e97;
  border-radius: 44px;

}

.common-icon-properties{
  border: 1px solid;

}
.header-content{
  background-color: black;
  display: flex;

}
.nav-bar-logo{
  text-decoration: none;
  position: relative;

}
.nav-bar-logo-image-text{
  text-transform: uppercase;
  color: #8d81ac;
  font-size: 24px;

}
.header-text-container{
  padding: 90px 0;
  margin: 0 auto;


}
.nav-bar-menu-wrapper{
  display: flex;
  align-items: baseline;
}
.header-container{
  display: flex;
  justify-content: space-between;
  flex-direction: row;

}
.header-content-container{
  background: url("/images/header/header-background.png");
  padding-top: 50px;
}
.common-title-properties{
  text-align:center;
  margin: 0;
  color: #635c73;
}
.title-description{
  color: #b3b3b3;
  font-size: 16px;
}
.common-title-description-class{
  text-align: center;
}
header{
  background: #27262a;
  padding: 30px 0;
  display: flex;
  flex-direction: row;

}

.header-background-image{

  width: 100%;
}
.left-column{
  width: 45%;
}
.right-column{
  width: 55%;
}
.left-column-item{
  display: flex;
  padding-top: 30px;
}

.left-column-icon-heading{
  font-size: 12px;
  color: #323232;
  text-align: left;
  font-weight: 600;

}
.left-column-image{
  width: 110px;
}
.left-column-icon-description{
  font-size: 11px;
  color: #a2a9b0;
  text-align: left;
}
.talking-about-fork{
  background: url("../images/What-people-talk-about-fork/fork-talking-background.png");
  display: flex;
}

.people-talking-title{
  padding: 50px 0;
}
.talk-about-fork-logo-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

}
.talk-about-fork-logo{
  width: 30%;
}
.nav-bar-menu{
  margin: 0;
}

.nav-bar-menu-item{
  list-style-type: none;
  display: inline-block;
  margin-left: 90px;
}
.nav-bar-link{
  text-decoration: none;
  font-size: 16px;
  color: #8d81ac;
}
.header-buy-now-button{
  margin-left: 28px;
  padding: 12px 35px;

}
.first-title{
  font-size: 60px;
  color: white;
  font-weight: 800;
}
.first-title-description1{
  color: #8d81ac;
  font-size: 22px;
}
.first-title-description2 {
  color: #848e97;
  font-size: 12px;
}

.header-content-button{
  font-size: 15px;
  text-decoration: none;
  color: white;
  background-color: #8d81ac;
  font-weight: 700;
  position: absolute;
  left: 44%;
  top: -20px;
}
.revolutionary-editor{
  padding: 50px 0;
  position: relative;
  display: flex;
}
.git-hub-button-wrapper{
  display: flex;
  justify-content: center;
}
.here-is-what-we-get{
  background-color: #f4f4f4;
  display: flex;
}
.here-is-what-we-get-container{
  display: flex;
  flex-direction: row;
  overflow: hidden;


}
.icon1, .icon2{
  text-decoration: none;
  color: black;

}
.icon1{
  border: 1px solid #d5d5d5;
  padding: 5px;
  background-color: #f1f1f1;

}
.pricing-block{
  display: flex;
  justify-content: space-around;
}
.common-pricing-plan{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23%;
  margin: 50px 0;

}
.icon1, .icon2{
  text-decoration: none;
  color: black;

}
.icon1{
  border: 1px solid #d5d5d5;
  padding: 5px;
  background-color: #f1f1f1;

}
.icon2{
  border: 1px solid #d5d5d5;
  padding: 5px 0
}
.git-hub-icon-item{
  list-style-type: none;
  display: inline-block;
  margin-left: 30px;

}
.plan-name{
  font-size: 18px;
  margin: 0;
}
.plan-cost{
  text-align: center;
}
.plan-cost{
  font-size: 40px;
  margin: 0;
  font-weight: 700;
  padding-top: 40px;
}
.per-month-word{
  text-transform: uppercase;
  margin: 0;
  padding-top: 10px;
}
.bigger-pricing-plan{
  width: 27%;
  margin: 0;
}
.advantages-block{
  display: flex;
  flex-direction: column;
}
.advantages{
  text-align: center;
  margin: 0;
}
.plan-name-wrapper{
  width: 100%;
  height: 95px;
  background-color: #848e97;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing-plan-button{
  margin: 38px auto;
}
.people-talking-description{
  padding-top: 120px;
  font-size: 14px;
  color: #7e6e81;
  margin: 0;
  padding-bottom: 70px;

}
/*.people-talking-description::after{*/
/*content: '';*/
/*position: absolute;*/
/*width: 780px;*/
/*height: 2px;*/
/*background: #645766;*/
/*}*/
.talk-about-fork-logo-description{
  color: white;
  font-size: 16px;
  text-align: center;
}
.subscription-pricing{
  background: url("../images/pricing-plan/pricing-plan-background.png") center;
  display: flex;

}