@media only screen and (  max-width: 992px) and (min-width: 481px){
    .container{
        width: 720px;
    }
    .here-is-what-we-get-container{
        flex-direction: column;
    }
    .left-column{
        width: 100%;
    }
    .talk-about-fork-logo{
        width: 50%;
    }
    .pricing-block{
        flex-wrap: wrap;
    }
    .common-pricing-plan{
        width: 45%;
    }
}